@charset "utf-8";
.clear { clear:both; height:1px; width:100%; overflow:hidden; margin-top:-1px }
.red, .red a { color:#F00 }
.lan, .lan a { color:#1E51A2 }
.pd5 { padding-top:5px }
.dis { display:block }
.undis { display:none }


#footer { margin: 0 auto; color: blue; font: 12px/ 20px simsun; text-align: center }
/*projectSummary*/
.tablecontent { font: 14px simsun; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px; background: #F1F6F7; border-collapse: collapse; border: none; empty-cells: show; background: white; }
.tablecontent { border-collapse: collapse; border: none; empty-cells: show; }
.tablecontent .fieldname { font: 12px simsun; text-align: left; background: #D7E4F4; }
.tablecontent td { height: 26px; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; border: #A9B9D0 1px solid; background: white; }
.righttop { position:absolute; right:0px; top:50px; z-index:2000; }
.anchorBL { display:none; }
.gray{color:#999}


#logout_div{ position:absolute;top:0px;right:20px; }
#logout_div>ul{ list-style-type:none; }
#logout_div>ul>li{ float: right; text-decoration:none;color:white; margin: 0 5px; }
#logout_div>ul>li:nth-child(1){ float: right; text-decoration:none;color:white }
#logout_div>ul>li>a{ text-decoration:none;color:white }

#footer{ color: white}

.esriPopup .titlePane{background-color: #0f5f99; padding: 5px;}
.esriPopup .titlePane .title{font-size: 14px}
.esriPopup .titleButton.maximize {display: none}
.esriPopup .pointer.top{background-color: #0f5f99}
.map-info-content>p{ margin: 5px }
.map-info-content>div{ float: right; margin: 0 5px -5px 0; padding: 5px; border: 1px solid #999; border-radius: 5px; cursor: pointer; background-color: #f0f0f0}
.map-info-content>div:hover{ background-color: rgb(24, 119, 188);  color: white;}
/*.map-info-content>div:nth-child(1){ margin: 5px }*/

.x-panel-body {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}
.x-panel-body::-webkit-scrollbar{width:0px}

/* 底部菜单 */
.foot_btn{ cursor:pointer;     display: block;}
.foot_btn.on{ background-color: rgb(60, 116, 173);}
.foot_btn>span{ color: white; font-size: 20px; line-height: 50px; text-align: center; padding-left: 30px;
				margin: 0 auto; width:140px; overflow: visible; white-space: nowrap; display: block;
				background-size: 30px !important; background-position: 5px !important;}
.foot_btn.foot_btn1 >span{  background: url("../images/buttons/foot-btn-homepage-1.png") no-repeat; background-position-x: 25px !important; }
.foot_btn.foot_btn2 >span{  background: url("../images/buttons/foot-btn-data-1.png") no-repeat; }
.foot_btn.foot_btn3 >span{  background: url("../images/buttons/foot-btn-stats-1.png") no-repeat; }
.foot_btn.foot_btn4 >span{  background: url("../images/buttons/foot-btn-system-1.png") no-repeat; }
.foot_btn.foot_btn1.on >span{  background: url("../images/buttons/foot-btn-homepage.png") no-repeat; background-position-x: 25px !important; }
.foot_btn.foot_btn2.on >span{  background: url("../images/buttons/foot-btn-data.png") no-repeat; }
.foot_btn.foot_btn3.on >span{  background: url("../images/buttons/foot-btn-stats.png") no-repeat; }
.foot_btn.foot_btn4.on >span{  background: url("../images/buttons/foot-btn-system.png") no-repeat; }

/* item模块按钮 */
.function_item { display: block;  height: 100%;  position: relative; cursor: pointer }
.function_item.orange { background-color: #F77B52;  }
.function_item.slategray { background-color: #5C7383;  }
.function_item.pink { background-color: #DE68A2;  }
.function_item.skyblue { background-color: #63BDFF;  }
.function_item.yellow { background-color: #FFB500;  }
.function_item.green { background-color: #4ECE35;  }
.function_item.gray { background-color: #888783;  }
.function_item>img { position: absolute; top: 20%; left: 25%; }
.function_item>span { position: absolute;  left: 20px;  bottom: 15px;  font-size: 16px;  color: white;}